
# BEGIN SMUSH-WEBP
# Direktiven (raderna) mellan ”BEGIN SMUSH-WEBP” och ”END SMUSH-WEBP” är
# dynamiskt genererade och bör endast ändras via WordPress-filter.
# Eventuella ändringar av direktiven mellan dessa markörer kommer att skrivas över.

# END SMUSH-WEBP