li.product {
	border: 1px solid black;
	padding: 10px !important;
}

ul.products li.product .button {
 background: #FFF;
 border: 1px solid black;
 color: #000000;
 border-radius: 0px;
 text-transform: uppercase;
}

ul.products li.product .button:hover {
 background: #1C3E5750;
}

a.button.product_type_variable.add_to_cart_button {
	color: white;
}

bdi {
	color: black;
}

a#elementor-menu-cart__toggle_button {
	background: white;
}

.cart button, .quantity .qty {
	border-width: 1px 1px 1px 1px!important;
	height: 100%;
}